
.modal-backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  display: flex;

}

.modal {

  padding: 15px;
  min-height: 500px;
  height: 80%;
  width: 80%;
  min-width: 350px;
  background-color: white;
  border-radius: 10px;
  overflow-y: scroll;
}


.modal-close {

  height: 30px;
  width: 30px;
  cursor: pointer;
  font-size: 30px;
  color: #ffa300;
}

.row {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.styled-table {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  min-width: 300px;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

thead {

  border-collapse: collapse;
  font-size: 0.9em;
  font-family: 'Lato', sans-serif;
}

.styled-table thead tr {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: 'Lato', sans-serif;
  background-color: #ffa300;
  color: #ffffff;
  text-align: left;
}

.styled-table th, .styled-table td {
  padding: 12px 15px;
}

th {
    border-collapse: collapse;
  font-size: 0.9em;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #ffa300;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

p {
  font-family: 'Lato', sans-serif !important;
  padding: 15px;
  color: black;
  font-size: 0.9em;
}

h2 {
  font-family: 'Lato', sans-serif!important;
}

ul > li {
  font-family: 'Lato', sans-serif;
  padding: 5px;
  color: black;
  font-size: 0.9em;
}